name: readme-scribe

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 */1 * *'
  push:
    branches:
      - 'main'
  pull_request:
    branches:
      - 'main'

jobs:
  readme-scribe:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v6
        with:
          token: ${{ secrets.BOT_GITHUB_TOKEN }}
      -
        uses: muesli/readme-scribe@d2f6ab32d6b9f5b59941fe782d6c7e6499a37fe4
        with:
          template: templates/README.md.tpl
          writeTo: README.md
        env:
          GITHUB_TOKEN: ${{ secrets.USER_GITHUB_TOKEN }}
      -
        uses: stefanzweifel/git-auto-commit-action@v7
        if: github.event_name != 'pull_request'
        with:
          branch: main
          commit_author: "dezren39-bot <bot@dezren39.dev>"
          commit_message: "Apply automatic changes"
          commit_user_name: "dezren39-bot"
          commit_user_email: "bot@dezren39.dev"
